* {
	margin:  0px;
	padding:  0px;
}

.logo img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: -40px;
	top: -30px;
}

header .background {
	position: absolute;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background: #00898C;
}

a {
	text-decoration: none;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	flex: 1;
	text-align: right;
	position: relative;
	top:  -15px;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 2%;
	position: relative;
}

.nav-links ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 24px;
}

.nav-links ul li a img {
	width: 45px;
	height: 45px;
	position: relative;
	top: 10px;

}

header a {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	text-decoration: none;
}

header a:hover {
	font-family: 'Roboto Condensed';
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	text-decoration: none;
}

.banner {
	position: relative;
	top:  -10px;
	width: 100%;
	height: 600px;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('banner.jpeg');
	z-index: 0;
}

.banner .mega-cart {
	position: relative;
	left:  10%;
	top:  5%;
	font-family: Kreon;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #73DEDC;
}

.banner .comment {
	position: relative;
	left: 10%;
	top:  5%;
	width: 40%;
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 45px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner a {
	width: 20%;
	position: relative;
	left: 10%;
	top: 10%;
	font-family: 'Reem Kufi';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 57px;
	display: flex;
	text-align: center;
	color: #FFFFFF;
	background-color: #FFAC00;
	border-radius: 90px;
	text-decoration: none;
}

.list {}


.circle {
	width: 150px;
	height: 150px;
	background: #00898C;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 90px;
}

.circle img {
	position: relative;
	top:  35px;
	left:  35px;
	width: 80px;
	height: 80px;
	z-index: 3;	
}

.list-items {
	flex: 1;
	text-align: center;
	position: relative;
	top: -40px;
	z-index: 3;
}

.list-items ul li {
	list-style: none;
	display: inline-block;
	padding: 3.15%;
	position: relative;
	top:  -1000px;
	z-index: 2;
}

.list-items ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 24px;
	font-family: Roboto Condensed;
	font-weight: bold;
	z-index: 3;
}

.list-items ul li a:hover {
	text-decoration: underline;
}

.list-items-background {
	position: relative;
	top:  -1170px;
	width: 100%;
	height: 120px;
	background: #00898C;
	z-index: 0;
}

.promotion {
	position: relative;
	width: 100%;
	height: 700px;
	left: 0px;
	top:  -1180px;
	background: url('promotion.jpg');
}

.promotion h1 {
	position: absolute;
	width: 100%;
	height: 450px;
	left: 3%;
	top: 50%;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 112px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.best-seller {}

.best-seller h1 {
	position: relative;
	width: 15%;
	padding: 20px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	background-color: #00898C;
}

.best-seller .show-all {
	position: relative;
	width: 79%;
	padding: 20px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #00898C;
	border-bottom: 2px solid #00898C;
}

.best-seller a .show-all:hover {
	text-decoration: underline;
}

.best-seller img {
	width: 355px;
	height: 289px;
}

.best-seller .info-frame {
	position: absolute;
	width: 100%;
	height: 335px;
	background: #00898C;
}

.best-seller .item {
	position: absolute;
	width: 355px;
	height: 45px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.best-seller .item-info {
	position: absolute;
	width: 400px;
	height: 170px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.best-seller .item-price {
	position: absolute;
	width: 297px;
	height: 110px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.best-seller a .add-to-cart {
	width: 15%;
	position: absolute;
	padding-left: 35px;
	font-family: 'Reem Kufi';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 57px;
	display: flex;
	text-align: center;
	color: #FFFFFF;
	background-color: #FFAC00;
	border-radius: 90px;
	text-decoration: none;
}

.best-seller a .add-to-cart:hover {
	text-decoration: underline;
}

.best-seller a .item:hover {
	text-decoration: underline;
}

.shipping {}

.shipping-frame {
	position: absolute;
	width: 100%;
	height: 400px;
	left: 0px;
	top: 3900px;
	background: #00898C;
}

.shipping-car img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 10%;
	top: 3920px;
}

.shipping-box img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 42%;
	top: 3900px;
}

.shipping-time img {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 75%;
	top: 3940px;
}

.shipping-car-text {
	position: absolute;
	width: 426px;
	height: 97px;
	left: 6%;
	top: 4150px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.shipping-box-text {
	position: absolute;
	width: 297px;
	height: 97px;
	left: 39%;
	top: 4150px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.shipping-time-text {
	position: absolute;
	width: 297px;
	height: 97px;
	left: 74%;
	top: 4150px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer {
	position: absolute;
	width: 100%;
	height: 470px;
	left: 0px;
	top: 4300px;
	background: rgba(0, 0, 0, 0.5);
}

footer .kundservice {
	position: absolute;
	width: 348px;
	height: 97px;
	left: 10%;
	top: 0px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 53px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer .kundservice-info {
	position: absolute;
	width: 406px;
	height: 390px;
	left: 10%;
	top: 0px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 24;
	line-height: 36px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

footer ul li a:hover {
	text-decoration: underline;
}

footer .om-oss {
	position: absolute;
	width: 348px;
	height: 97px;
	left: 45%;
	top: 0px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 53px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer .om-oss-info {
	position: absolute;
	width: auto;
	height: auto;
	left: 45%;
	top: 70px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 24;
	line-height: 36px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer .hitta-oss {
	position: absolute;
	width: 348px;
	height: 97px;
	left: 70%;
	top: 0px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 53px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer a {
	text-decoration: none;
	color: #FFFFFF;
}

footer a:hover {
	text-decoration: underline;
}

footer .address {
	position: absolute;
	width: auto;
	height: auto;
	left: 70%;
	top: 70px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 24;
	line-height: 36px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer img {
	position: absolute;
	width: 70px;
	height: 70px;
}

footer .chat {
	position: absolute;
	width: 348px;
	height: 97px;
	left: 34%;
	top: 330px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 53px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer .time {
	font-size: 24px;
	font-weight: normal;
	font-family: Roboto Condensed;
	font-style: normal;
	position: absolute;
	width: 348px;
	height: 97px;
	left: 48%;
	top: 360px;
}